.promo {
	@media (min-width: map-get($breakpoints, medium)) {
		margin-top: -60px - map-get($flex-gaps, zero);
	}
	@media (min-width: map-get($breakpoints, large)) {
		margin-top: -60px - map-get($flex-gaps, large);
	}
}

.promo__text {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;

	@media (min-width: map-get($breakpoints, medium)) {
		margin-bottom: 64px;
		&:last-child {
			margin-bottom: 0;
		}

		font-size: 42px;
	}

	&:first-child {
		@media (min-width: map-get($breakpoints, medium)) {
			margin-top: 60px + 80px - map-get($flex-gaps, zero);
		}
		@media (min-width: map-get($breakpoints, large)) {
			margin-top: 60px + 80px - map-get($flex-gaps, large);
		}
	}
}

.promo__advantages {
	align-content: space-around;
	padding: 24px 0;
	border-radius: 8px;

	background-color: color(white);
	box-shadow: 0 0 40px rgba(192, 192, 192, 0.5);

	text-align: center;

	list-style: none;
}

.promo__advantage {
	margin: 16px 0;
	padding: 0 64px;
	font-size: font-size(small);
}

.promo__ico {
	display: block;
	margin: 0 auto 22px;
}
