.content__img {
	position: relative;
	z-index: -1;

	margin-top: -120px;

	background-repeat: no-repeat;
	background-position: 50% 100%;
	// background-size: contain;
}

.content__button {
	min-width: 322px;
	margin-bottom: 20px;
	margin-bottom: 20px;
	padding-top: 13px;
	padding-bottom: 14px;
	color: color(white);
	font-weight: 700;

	&:hover {
		color: color(white);
	}
}
