// .content__img {
// 	position: relative;
// 	z-index: -1;
//
// 	display: none;
// 	margin-top: -120px;
//
// 	background-repeat: no-repeat;
// 	background-position: 50% 100%;
// 	background-size: contain;
//
// 	@media (min-width: map-get($breakpoints, medium)) {
// 		display: block;
// 	}
// 	@media (min-width: map-get($breakpoints, xlarge)) {
// 		background-size: auto;
// 	}
// }

.content {
	@media (min-width: map-get($breakpoints, medium)) {
		min-height: 440px;
	}
}

.content__button {
	margin-bottom: 20px;
	padding-top: 13px;
	padding-bottom: 14px;
	color: color(white);
	font-weight: 700;

	@media (min-width: map-get($breakpoints, medium)) {
		min-width: 322px;
	}

	&:hover {
		color: color(white);
	}
}
