{% set title = '' %}
{% set activePage = 'price' %}
{% set breadcrumbsItems = [
    {
        name: "Стоимость услуг"
    }
] %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<section class="section section_price">
		<div class="container">
			<h1>Стоимость услуг</h1>

			<div class="price flex flex_columns_1 flex_columns_medium_2">
				<div class="flex__item flex__item_1">
					<h2 class="price__heading">Услуги<br />регистрации</h2>

					<dl class="price__list">
						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по всей РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">5 700 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация прав в МФЦ по СПБ и ЛО</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">5 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация сдело БЕЗ приостановок</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 10 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по все РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">5 700 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>
					</dl>
				</div>

				<div class="flex__item flex__item_1">
					<h2 class="price__heading">Сопровождение сделок с&nbsp;недвижимостью</h2>

					<dl class="price__list">
						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по всей РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация прав в МФЦ по СПБ и ЛО</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 10 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация сдело БЕЗ приостановок</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 1 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по все РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация прав в МФЦ по СПБ и ЛО</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>
					</dl>
				</div>

				<div class="flex__item flex__item_1">
					<h2 class="price__heading">Оформление земельных участков/ загородных домов</h2>

					<dl class="price__list">
						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по&nbsp;всей РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы&nbsp;самостоятельно подали документы в&nbsp;МФЦ и&nbsp;получили приостановку в&nbsp;регистрации? Вам необходима помощь и&nbsp;сопровождение специалиста в&nbsp;цепочке сделок? Мы&nbsp;поможем Вам в&nbsp;любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация прав в&nbsp;МФЦ по&nbsp;СПБ и&nbsp;ЛО</dt>
							<dd class="price__description">
								<p class="price__text">Вы&nbsp;самостоятельно подали документы в&nbsp;МФЦ и&nbsp;получили приостановку в&nbsp;регистрации? Вам необходима помощь и&nbsp;сопровождение специалиста в&nbsp;цепочке сделок? Мы&nbsp;поможем Вам в&nbsp;любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация сдело БЕЗ приостановок</dt>
							<dd class="price__description">
								<p class="price__text">Вы&nbsp;самостоятельно подали документы в&nbsp;МФЦ и&nbsp;получили приостановку в&nbsp;регистрации? Вам необходима помощь и&nbsp;сопровождение специалиста в&nbsp;цепочке сделок? Мы&nbsp;поможем Вам в&nbsp;любом вопросе!!!</p>
								<p class="price__value">от 10 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по&nbsp;все РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы&nbsp;самостоятельно подали документы в&nbsp;МФЦ и&nbsp;получили приостановку в&nbsp;регистрации? Вам необходима помощь и&nbsp;сопровождение специалиста в&nbsp;цепочке сделок? Мы&nbsp;поможем Вам в&nbsp;любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>
					</dl>
				</div>

				<div class="flex__item flex__item_1">
					<h2 class="price__heading">Оформление земельных участков/ загородных домов</h2>

					<dl class="price__list">
						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по всей РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация прав в МФЦ по СПБ и ЛО</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация сдело БЕЗ приостановок</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по все РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>
					</dl>
				</div>

				<div class="flex__item flex__item_1">
					<h2 class="price__heading">Подготовка письменных документов</h2>

					<dl class="price__list">
						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по всей РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация прав в МФЦ по СПБ и ЛО</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация сдело БЕЗ приостановок</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по все РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>
					</dl>
				</div>

				<div class="flex__item flex__item_1">
					<h2 class="price__heading">Консультации</h2>

					<dl class="price__list">
						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по&nbsp;всей РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы&nbsp;самостоятельно подали документы в&nbsp;МФЦ и&nbsp;получили приостановку в&nbsp;регистрации? Вам необходима помощь и&nbsp;сопровождение специалиста в&nbsp;цепочке сделок? Мы&nbsp;поможем Вам в&nbsp;любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация прав в&nbsp;МФЦ по&nbsp;СПБ и&nbsp;ЛО</dt>
							<dd class="price__description">
								<p class="price__text">Вы&nbsp;самостоятельно подали документы в&nbsp;МФЦ и&nbsp;получили приостановку в&nbsp;регистрации? Вам необходима помощь и&nbsp;сопровождение специалиста в&nbsp;цепочке сделок? Мы&nbsp;поможем Вам в&nbsp;любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация сдело БЕЗ приостановок</dt>
							<dd class="price__description">
								<p class="price__text">Вы&nbsp;самостоятельно подали документы в&nbsp;МФЦ и&nbsp;получили приостановку в&nbsp;регистрации? Вам необходима помощь и&nbsp;сопровождение специалиста в&nbsp;цепочке сделок? Мы&nbsp;поможем Вам в&nbsp;любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по&nbsp;все РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы&nbsp;самостоятельно подали документы в&nbsp;МФЦ и&nbsp;получили приостановку в&nbsp;регистрации? Вам необходима помощь и&nbsp;сопровождение специалиста в&nbsp;цепочке сделок? Мы&nbsp;поможем Вам в&nbsp;любом вопросе!!!</p>
								<p class="price__value">от 9 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>
					</dl>
				</div>

				<div class="flex__item flex__item_1">
					<h2 class="price__heading">Защита в суде</h2>

					<dl class="price__list">
						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по всей РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация прав в МФЦ по СПБ и ЛО</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Регистрация сдело БЕЗ приостановок</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>

						<div class="price__item">
							<dt class="price__title">Электронная регистрация прав по все РФ</dt>
							<dd class="price__description">
								<p class="price__text">Вы самостоятельно подали документы в МФЦ и получили приостановку в регистрации? Вам необходима помощь и сопровождение специалиста в цепочке сделок? Мы поможем Вам в любом вопросе!!!</p>
								<p class="price__value">от 20 000 р.</p>
								<a href="#" class="button button_color_secondary price__button">Получить услугу</a>
							</dd>
						</div>
					</dl>
				</div>
			</div>
		</div>
	</section>

	<section class="page-main__section section section_form">
		<div class="container">
			<h2>Остались вопросы?</h2>

			<form action="/form-result/" class="form flex flex_align_center flex_columns_1 flex_columns_small_2 flex_columns_medium_3" data-validate>
				<div class="flex__item">
					<label class="form__item field">
						<input type="tel" name="phone" required class="field__input" placeholder="Телефон" data-validate-pattern="phone" />
						<p class="visually-hidden">Телефон</p>
					</label>
				</div>

				<div class="flex__item">
					<button type="submit" class="form__item form__button button button_color_secondary">Перезвоните мне</button>
				</div>

				<div class="flex__item">
					<p class="form__item form__comment">Нажимая на кнопку, я соглашаюсь на обработку моих <a href="#">персональных данных</a></p>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
