$container-paddings: (
	small: 20px,
	medium: 24px,
	large: 40px,
);

.container {
	max-width: 1252px + (map-get($container-paddings, large) * 2);
	margin: 0 auto;
	padding: 0 16px;

	@each $breakpoint, $padding in $container-paddings {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
			padding-left: $padding;
			padding-right: $padding;
		}
	}
}
