{% set title = '' %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<h1 class="visually-hidden">Центр Электронной Регистрации Успех</h1>

	<section class="page-main__section section section_steps">
		<div class="container">
			<h2 class="section__heading">3 шага для получения результата!</h2>

			<ol class="steps flex flex_columns_1 flex_columns_small_3">
				<li class="steps__item flex__item">
					<h3 class="steps__heading">Вы оставляете заявку</h3>
					<p class="steps__text">Напишите нам письмо прямо на сайте или позвоните по телефону <a href="tel:+78006007448"><strong>8 (800) 600-74-48</strong></a></p>
					<a href="/get-cosultation/" class="steps__button button button_color_secondary" data-modal="getConsultation">Оставить заявку</a>
				</li>
				<li class="steps__item flex__item">
					<h3 class="steps__heading">Мы свяжемся с Вами</h3>
					<p class="steps__text">Назначим визит для приема документов / консультацию на удобное для Вас время</p>
					<a href="/get-cosultation/" class="steps__button button button_color_secondary" data-modal="getConsultation">Оставить заявку</a>
				</li>
				<li class="steps__item flex__item">
					<h3 class="steps__heading">Решаем вопрос</h3>
					<p class="steps__text">Заключаем договор на оказание услуг и наши специалисты моментально приступают к работе</p>
					<a href="/get-cosultation/" class="steps__button button button_color_secondary" data-modal="getConsultation">Оставить заявку</a>
				</li>
			</ol>
		</div>
	</section>

	<section class="page-main__section section section_form">
		<div class="container">
			<h2>Остались вопросы?</h2>

			<form action="/form-result/" class="form flex flex_align_center flex_columns_1 flex_columns_small_2 flex_columns_medium_3" data-validate>
				<div class="flex__item">
					<label class="form__item field">
						<input type="tel" name="phone" required class="field__input" placeholder="Телефон" data-validate-pattern="phone" />
						<p class="visually-hidden">Телефон</p>
					</label>
				</div>

				<div class="flex__item">
					<button type="submit" class="form__item form__button button button_color_secondary">Перезвоните мне</button>
				</div>

				<div class="flex__item">
					<p class="form__item form__comment">Нажимая на кнопку, я соглашаюсь на обработку моих <a href="#">персональных данных</a></p>
				</div>
			</form>
		</div>
	</section>

	<section class="page-main__section section section_offers">
		<div class="container">
			<h2 class="section__heading">Популярные предложения Компании</h2>

			<ul class="offers flex flex_columns_1 flex_columns_small_2 flex_columns_medium_3">
				<li class="offers__item flex__item">
					<h3 class="offers__heading">Вступить в наследство</h3>
					<p class="offers__text">Всего 30 минут на заключение Договора с нами и Вы станете законным обладателем наследства</p>
					<a href="/get-cosultation/" class="offers__button button button_color_secondary" data-modal="getConsultation">Получить услугу</a>
				</li>
				<li class="offers__item flex__item">
					<h3 class="offers__heading">Получить неустойку от Застройщика</h3>
					<p class="offers__text">Всего 30 минут на заключение Договора с нами и Вы станете законным обладателем наследства</p>
					<a href="/get-cosultation/" class="offers__button button button_color_secondary" data-modal="getConsultation">Получить услугу</a>
				</li>
				<li class="offers__item flex__item">
					<h3 class="offers__heading">Выиграть спор в суде</h3>
					<ul class="offers__list">
						<li>Только 100% результат</li>
						<li>Сведения обо всех расходах до заключения Договора</li>
					</ul>
					<a href="/get-cosultation/" class="offers__button button button_color_secondary" data-modal="getConsultation">Получить услугу</a>
				</li>
				<li class="offers__item flex__item">
					<h3 class="offers__heading">Зарегистрировать собственность?</h3>
					<p class="offers__text">
						Срок от 3х дней<br>
						Стоимость 5 700р.
					</p>
					<a href="/get-cosultation/" class="offers__button button button_color_secondary" data-modal="getConsultation">Получить услугу</a>
				</li>
				<li class="offers__item flex__item">
					<h3 class="offers__heading">Получили приостановку в Росреестре?</h3>
					<p class="offers__text">
						Мы поможем решить все проблемы<br>
						Стоимость от 5 000р.
					</p>
					<a href="/get-cosultation/" class="offers__button button button_color_secondary" data-modal="getConsultation">Получить услугу</a>
				</li>
				<li class="offers__item flex__item">
					<h3 class="offers__heading">Вступить в наследство</h3>
					<p class="offers__text">Всего 30 минут на заключение Договора с нами и Вы станете законным обладателем наследства</p>
					<a href="/get-cosultation/" class="offers__button button button_color_secondary" data-modal="getConsultation">Получить услугу</a>
				</li>
			</ul>
		</div>
	</section>

	<section class="page-main__section section section_feedbacks">
		<div class="container">
			<h2 class="visually-hidden">Отзывы</h2>

			<div class="feedbacks flex flex_columns_12 flex_justify_around">
				<div class="feedbacks__img flex__item flex__item_6"></div>

				<div class="flex__item flex_item_12 flex__item_small_8 flex__item_medium_4 flex__item_align_center">
					<div class="feedbacks__list">
						<blockquote class="feedbacks__item">
							<div class="feedbacks__text">
								<p>Очень довольна услугами юриста, оказавшего помощь в моем деле с наследством. Документы были оформлены и зарегистрированы очень быстро.</p>
								<time class="feedbacks__date" datetime="2018-02-12">12.02.2018</time>
							</div>
							<cite class="feedbacks__autor person">
								<img src="https://via.placeholder.com/80" alt="" class="person__avatar">
								<p class="person__text"><span class="person__name">Тупицын Владимир</span> <span class="person__city">г. Воронеж</span></p>
							</cite>
						</blockquote>

						<blockquote class="feedbacks__item">
							<div class="feedbacks__text">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<time class="feedbacks__date" datetime="2018-02-12">12.02.2018</time>
							</div>
							<cite class="feedbacks__autor person">
								<img src="https://via.placeholder.com/80" alt="" class="person__avatar">
								<p class="person__text"><span class="person__name">Тупицын Владимир</span> <span class="person__city">г. Воронеж</span></p>
							</cite>
						</blockquote>

						<blockquote class="feedbacks__item">
							<div class="feedbacks__text">
								<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								<time class="feedbacks__date" datetime="2018-02-12">12.02.2018</time>
							</div>
							<cite class="feedbacks__autor person">
								<img src="https://via.placeholder.com/80" alt="" class="person__avatar">
								<p class="person__text"><span class="person__name">Тупицын Владимир</span> <span class="person__city">г. Воронеж</span></p>
							</cite>
						</blockquote>

						<blockquote class="feedbacks__item">
							<div class="feedbacks__text">
								<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<time class="feedbacks__date" datetime="2018-02-12">12.02.2018</time>
							</div>
							<cite class="feedbacks__autor person">
								<img src="https://via.placeholder.com/80" alt="" class="person__avatar">
								<p class="person__text"><span class="person__name">Тупицын Владимир</span> <span class="person__city">г. Воронеж</span></p>
							</cite>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
