{% set title = '' %}
{% set activePage = 'heritage' %}
{% set breadcrumbsItems = [
    {
        name: "Наследство"
    }
] %}
{% extends '../layouts/index.njk' %}

{% block content %}
	<section class="section section_content" data-section-img="/static/img/bg/{{ activePage }}.jpg">
		<div class="container">
			<article class="content">
				<h1>Наследство</h1>

				<div class="flex flex_columns_1 flex_columns_medium_2">
					<div class="flex__item flex__item_1">
						<p>Право наследования обеспечивает переход имущества наследодателя к другим лицам в порядке, определяемом гражданским законодательством.</p>
						<p>Закрепленная законодательством процедура вступления (оформления) в наследство предусматривает прохождение наследниками множества процедур взаимодействия с гос. органами: от обращения к нотариусу до сбора комплекта документов (справок), при этом общий срок по обращению за наследством составляет 6 месяцев со дня смерти наследодателя.</p>
						<p>Мы поможем Вам оформить наследство (вступить в наследство) по завещанию или по закону после смерти граждан России, на момент смерти зарегистрированных в Санкт-Петербурге либо иностранных граждан, имеющих недвижимое имущество в Санкт-Петербурге без лишних хлопот.</p>
						<a href="#" class="content__button button button_color_secondary">Получить услугу</a>
					</div>
				</div>
			</article>
		</div>
	</section>

	<section class="section section_small section_services">
		<div class="container">
			<h2>Популярные услуги</h2>

			<ul class="services flex flex_columns_1 flex_columns_small_2 flex_columns_medium_3 flex_columns_large_4">
				<li class="services__item flex__item flex__item_1">
                    Оформление наследства под ключ<br/>
                </li>
                <li class="services__item flex__item flex__item_1">
                    Открытие наследственного дела у&nbsp;нотариуса<br/>
                </li>
                <li class="services__item flex__item flex__item_1">
                    Сбор документов<br/>
                </li>
                <li class="services__item flex__item flex__item_1">
                    Восстановление документов, подтверждающих родственные связи с&nbsp;умершим<br/>
                </li>
                <li class="services__item flex__item flex__item_1">
                    Оформление права собственности на&nbsp;наследуемое имущество, расположенное в&nbsp;любой точке РФ<br/>
                </li>
                <li class="services__item flex__item flex__item_1">
                    Оформление документов для сделки<br/>
                </li>
                <li class="services__item flex__item flex__item_1">
                    Исправление кадастровой ошибки<br/>
                </li>
                <li class="services__item flex__item flex__item_1">
                    Разделение / объединение земельного участка<br/>
                </li>
			</ul>
		</div>
	</section>

	<section class="section section_small section_advantages">
		<div class="container">
			<h2>Преимущества:</h2>

			<ul class="advantages flex flex_columns_1 flex_columns_small_2 flex_columns_medium_3">
				<li class="advantages__item flex__item flex__item_1">
                    <strong class="advantages__heading">Решим любой вопрос</strong>
                    на&nbsp;любой стадии оформления наследства<br/>
                </li>
                <li class="advantages__item flex__item flex__item_1">
                    <strong class="advantages__heading">Наличие опыта </strong>
                    в&nbsp;оформлении наследства любой сложности<br/>
                </li>
                <li class="advantages__item flex__item flex__item_1">
                    <strong class="advantages__heading">Официальное заключение</strong>
                    договора, с&nbsp;установлением гарантий и&nbsp;сроков выполнения работы<br/>
                </li>
                <li class="advantages__item flex__item flex__item_1">
                    <strong class="advantages__heading">Анализ ситуации</strong>
                    с&nbsp;установлением гарантированных прогнозов решения вопроса<br/>
                </li>
                <li class="advantages__item flex__item flex__item_1">
                    <strong class="advantages__heading">Отсутствие ситуации,</strong>
                    с&nbsp;которой не&nbsp;справлялся&nbsp;бы наш юрист<br/>
                </li>
			</ul>
		</div>
	</section>

	<section class="page-main__section section section_form">
		<div class="container">
			<h2>Остались вопросы?</h2>

			<form action="/form-result/" class="form flex flex_align_center flex_columns_1 flex_columns_small_2 flex_columns_medium_3" data-validate>
				<div class="flex__item">
					<label class="form__item field">
						<input type="tel" name="phone" required class="field__input" placeholder="Телефон" data-validate-pattern="phone" />
						<p class="visually-hidden">Телефон</p>
					</label>
				</div>

				<div class="flex__item">
					<button type="submit" class="form__item form__button button button_color_secondary">Перезвоните мне</button>
				</div>

				<div class="flex__item">
					<p class="form__item form__comment">Нажимая на кнопку, я соглашаюсь на обработку моих <a href="#">персональных данных</a></p>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
