{% set title = '' %}
{% set activePage = 'estate' %}
{% set breadcrumbsItems = [
    {
        name: "Недвижимость"
    }
] %}

{% extends '../layouts/index.njk' %}

{% block content %}
	<section class="section section_content">
		<div class="container">
			<h1>Недвижимость</h1>
			<p>Предлагаем помощь в приобретении, оформлении, а также правовой проверке (анализу) недвижимости. Приступаем к сопровождению сделки на любом этапе: от проверки контрагента, которому принадлежит недвижимость, до регистрации прав на объект. Сопровождаем сделки с городской и загородной недвижимостью.</p>
			<p>Грамотное оформление Договора, а также доскональная проверка объекта недвижимости опытным юристом поможет избежать возможных проблем, возникающих после оформления перехода права собственности!</p>
			<a href="#" class="button">Заключить сделку</a>
		</div>
	</section>

	<section class="section section_small section_services">
		<div class="container">
			<h2>Популярные услуги</h2>

			<ul class="services">
				<li class="services__item">
					<a href="#" class="services__link">Проверка объекта недвижимости</a>
				</li>
				<li class="services__item">
					<a href="#" class="services__link">Составление Договоров</a>
				</li>
				<li class="services__item">
					<a href="#" class="services__link">Сопровождение сделок с недвижимостью</a>
				</li>
				<li class="services__item">
					<a href="#" class="services__link">Регистрация прав собственности/обременений</a>
				</li>
				<li class="services__item">
					<a href="#" class="services__link">Снятие обременений</a>
				</li>
				<li class="services__item">
					<a href="#" class="services__link">Консультация при покупке недвижимости</a>
				</li>
				<li class="services__item">
					<a href="#" class="services__link">Консультация по кредиту, субсидиям, соц.выплатам и пр.</a>
				</li>
				<li class="services__item">
					<a href="#" class="services__link">Приватизация </a>
				</li>
			</ul>
		</div>
	</section>

	<section class="section section_small section_advantages">
		<div class="container">
			<h2>Преимущества:</h2>

			<ul class="advantages">
				<li class="advantages__item">
					<strong class="advantages__heading">Опыт</strong> работы со всеми видами расчетов (субсидии, социальные выплаты, кредиты, мат.кипиталы, счета – эскроу, аккредитивы и прочее)
				</li>
				<li class="advantages__item">
					<strong class="advantages__heading">Стаж</strong> работы в сфере недвижимости более 10 лет
				</li>
				<li class="advantages__item">
					<strong class="advantages__heading">Контроль</strong> регистрации в Росреестре
				</li>
				<li class="advantages__item">
					<strong class="advantages__heading">Совершение действий</strong> с объектами недвижимости только опытными юристами
				</li>
				<li class="advantages__item">
					<strong class="advantages__heading">Экстерриториальный</strong> принцип работы на рынке недвижимости (по всей РФ)
				</li>
			</ul>
		</div>
	</section>

	<section class="section section_cases">
		<div class="container">
			<h2>Готовые кейсы</h2>

			<ul class="cases">
				<li class="cases__item">
					<h3 class="cases__heading">Под ключ</h3>
					<ul class="cases__list">
						<li>Проверка документов</li>
						<li>Переговоры</li>
						<li>Составление Договора</li>
						<li>Составление акта приема-передачи</li>
						<li>Сопровождение юриста при расчетах</li>
						<li>Регистрация права собственности</li>
					</ul>
					<p class="cases__price">от 20 000 рублей</p>
					<a href="#" class="cases__button button">Заключить сделку</a>
				</li>

				<li class="cases__item">
					<h3 class="cases__heading">Оптимальный</h3>
					<ul class="cases__list">
						<li>Составление Договора</li>
						<li>Составление акта приема-передачи</li>
						<li>Сопровождение юриста при расчетах</li>
						<li>Регистрация права собственности</li>
					</ul>
					<p class="cases__price">от 10 000 рублей</p>
					<a href="#" class="cases__button button">Заключить сделку</a>
				</li>

				<li class="cases__item">
					<h3 class="cases__heading">Индивидуальный</h3>
					<p class="cases__text">Cпектр оказываемых услуг устанавливается исходя из пожеланий Сторон сделки</p>
					<p class="cases__price">от 1 000 рублей</p>
					<a href="#" class="cases__button button">Заключить сделку</a>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}
