.offers {
	padding: 0;
	list-style: none;
}

.offers__item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@each $breakpoint, $gap in $flex-gaps {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
			margin-bottom: $gap;
		}
	}
	padding: 24px 28px;
	border: 2px solid color(white);
	color: color(white);
	transition: color 200ms;

	> * {
		position: relative;
		z-index: 3;
	}

	@media (min-width: map-get($breakpoints, medium)) {
		animation-name: fade-backward;
		animation-duration: 200ms;
		animation-fill-mode: forwards;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: $bit * -5;
			left: 0;

			background-color: color(primary);
			box-shadow: 0 0 40px #c24848;
			opacity: 0;

			transition: opacity 200ms, transform 200ms;
		}

		&:hover,
		&:focus-within {
			color: color(black);
			animation-name: fade-forward;


			&::after {
				opacity: 1;
				transform: scale(1.2);
			}
		}
	}
}

.offers__heading {
	margin-bottom: $bit * 2;
	font-weight: 700;
}

.offers__text {
	margin-bottom: 16px;

	@media (min-width: map-get($breakpoints, medium)) {
		margin-bottom: 0;
	}
}

.offers__list {
	margin: 0 0 16px 0;
	padding: 0;
	list-style: none;

	@media (min-width: map-get($breakpoints, medium)) {
		margin-bottom: 0;
	}

	li::before {
		content: '— ';
	}
}

.offers__button {
	margin-top: auto;
	@media (min-width: map-get($breakpoints, medium)) {
		position: absolute;
		bottom: $bit * -1;

		min-width: 244px;
		opacity: 0;
		transition: background-color 200ms, opacity 200ms, transform 200ms;

		.offers__item:hover &,
		.offers__item:focus-within & {
			opacity: 1;

			transform: translateY($bit * 4);
		}
	}
	@media (max-width: map-get($breakpoints, medium)) {
		background-color: color(primary);
	}
}
