h1, h2, h3, h4, h5, h6 {
    margin: 0 0 ($bit * 3);
    font-weight: 900;
}

@for $i from 6 through 3 {
    h#{7 - $i} {
        font-size: 4px + (6px * $i / 2);

		@media (min-width: map-get($breakpoints, small)) {
	        font-size: 6px + (7px * $i / 2);
		}
		@media (min-width: map-get($breakpoints, medium)) {
	        font-size: 8px + (8px * $i / 2);
		}
	}
}

h1 {
	margin-bottom: $bit * 2;
	color: color(primary);
	font-size: 32px;
	line-height: 1;

	@media (min-width: map-get($breakpoints, small)) {
		margin-bottom: $bit * 4;
		font-size: 44px;
	}
	@media (min-width: map-get($breakpoints, medium)) {
		margin-bottom: $bit * 6;
		font-size: 72px;
	}
}
h2 {
	font-size: 30px;

	@media (min-width: map-get($breakpoints, small)) {
        font-size: 34px;
	}
	@media (min-width: map-get($breakpoints, medium)) {
        font-size: 38px;
	}
	@media (min-width: map-get($breakpoints, large)) {
        font-size: 42px;
	}
}
