.services {
	padding: 0;
	list-style: none;
}

.services__item {
	position: relative;

	display: flex;
	margin-top: 16px;
	margin-bottom: 16px;

	@media (min-width: map-get($breakpoints, small)) {
		margin-top: 24px;
		margin-bottom: 24px;
	}
	@media (min-width: map-get($breakpoints, medium)) {
		margin-top: 32px;
		margin-bottom: 32px;
	}
	@media (min-width: map-get($breakpoints, large)) {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	&::before {
		content: '';
		position: absolute;
		right: 100%;

		display: block;
		width: 2px;
		height: 20px;
		margin-right: 16px;

		background-color: color(black);

		transform: rotate(45deg);
	}

	@media (max-width: map-get($breakpoints, small)) {
		margin-left: 40px;
	}
	@media (min-width: map-get($breakpoints, small)) and (max-width: map-get($breakpoints, medium)) {
		&:nth-child(2n-1)::before {
			display: none;
		}
	}
	@media (min-width: map-get($breakpoints, medium)) and (max-width: map-get($breakpoints, large)) {
		&:nth-child(3n-2)::before {
			display: none;
		}
	}
	@media (min-width: map-get($breakpoints, large)) {
		&:nth-child(4n-3)::before {
			display: none;
		}
	}
}

.services__link {
	flex-grow: 1;
	padding-right: $bit * 4;

	color: color(black);

	font-weight: 700;

	&:hover {
		color: color(white);
	}
	&:focus {
		outline-color: rgba(color(white), .6);
		outline-style: solid;
		outline-width: 2px;
		outline-offset: 2px;
	}
}
