.modal {
    visibility: hidden;
    transition: visibility 1ms linear 250ms;

    &.is-open {
        visibility: visible;
        transition: visibility 1ms linear 1ms;
    }
}

.modal__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-height: 100vh;
    padding: $bit * 5;
    background-color: rgba(color(black), 0);
    z-index: 6;
    transition: background-color 250ms;

    .is-open & {
        background-color: rgba(color(black), .85);
    }
}
.modal__overlay-close {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.modal__container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height: 100%;
    background-color: color(white);
    box-shadow: shadow(3-lvl);
    opacity: 0;
    transform-origin: 50% 0;
    transform: scale(.8) translateY($bit * 50);
    transition: opacity 250ms, transform 250ms;

    .is-open & {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.modal__header {
    padding: 58px ($bit * 4) 0;
}
.modal__body {
    padding: ($bit * 4) ($bit * 4) 78px;
    overflow-y: auto;
}
.modal__footer {
    padding: $bit * 4;
}

.modal__title {
    margin-bottom: 0;

	color: color(primary);

	text-align: center;
	line-height: 1.3;
	font-size: 28px;
	font-weight: 900;

	@media (min-width: map-get($breakpoints, small)) {
		font-size: 32px;
	}
	@media (min-width: map-get($breakpoints, medium)) {
		font-size: 42px;
	}
}

.modal__close {
    position: absolute;
    right: 4px;
    top: 6px;

	width: 41px;
	height: 41px;
	background-color: transparent;
	border: none;

	cursor: pointer;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 49%;

		display: block;
		width: 1px;
		height: 28px;
		margin-top: -14px;

		background-color: #979797;

		transform: rotate(45deg);
		transition: background-color 200ms;
	}
	&::after {
		transform: rotate(-45deg);
	}

	&:hover {
		&::before,
		&::after {
			background-color: color(secondary);
		}
	}
}

.modal__form {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}
