.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_align_start {
    align-items: flex-start;
}
.flex_align_center {
    align-items: center;
}
.flex_align_end {
    align-items: end;
}

.flex_justify_center {
    justify-content: center;
}
.flex_justify_end {
    justify-content: end;
}
.flex_justify_around {
    justify-content: space-around;
}
.flex_justify_between {
    justify-content: space-between;
}
