<div class="modal" id="getConsultation" aria-hidden="true">
	<section class="modal__overlay" tabindex="-1">
		<div class="modal__overlay-close" data-modal-close></div>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="getConsultationTitle">
			<header class="modal__header">
				<h2 class="visually-hidden" id="getConsultationTitle">Получить консультацию</h2>
				<p class="modal__title">Получение качественной юридической помощи</p>
			</header>

			<div class="modal__body">
				<form action="#" class="modal__form form">
					<label class="form__item field">
						<input type="tel" name="phone" required class="field__input" placeholder="Телефон" data-validate-pattern="phone" />
						<p class="visually-hidden">Телефон</p>
					</label>

					<button type="submit" class="form__item form__button button button_color_secondary">Перезвоните мне</button>

					<p class="form__item form__comment">Нажимая на кнопку, я соглашаюсь на обработку моих <a href="#">персональных данных</a></p>
				</form>
			</div>

			<button class="modal__close" data-modal-close><span class="visually-hidden">Закрыть</span></button>
		</div>
	</section>
</div>
