{% set menuItems = [
    {
        name: "Недвижимость",
        address: 'estate'
    },{
        name: "ДДУ",
        address: 'ddu'
    },{
		name: "Регистрация прав",
        address: '#'
    },{
		name: "Межевание",
        address: '#'
    },{
		name: "Суды/ Споры",
        address: '#'
    },{
		name: "Наследство",
        address: '#'
    },{
		name: "Прочие услуги",
        address: 'other'
    }
] %}
{% macro addMenuItem(name, address) %}
    <li class="menu__item{{ ' menu__item_active' if (activePage == address) }}">
        <a href="/{{ address }}/" class="menu__link">{{ name }}</a>
    </li>
{% endmacro %}

{# Breadcrumbs items gets from page (for generating correct addresses) #}
{% macro addBreadcrumbsItem(name, address) %}
    <li class="breadcrumbs__item">
		{% if address %}
			<a href="/{{ address }}/" class="breadcrumbs__link">{{ name }}</a>
		{% else %}
			{{ name }}
		{% endif %}
    </li>
{% endmacro %}

<header class="page-header">
	<div class="page-header__info container">
		<a href="/" class="page-header__logo logo">
			<img src="/static/img/logo.svg" alt="ЦЭР Успех" class="logo__img">
		</a>

		<p class="page-header__title">
			Регистрация прав на&nbsp;недвижимость по&nbsp;всей&nbsp;РФ.<br>
			Решение любых юридических вопросов
		</p>

		<p class="page-header__contacts">
			<a href="tel:+78006007448" class="page-header__phone">8 (800) 600-74-48</a>
			<a href="/get-cosultation/" class="button" data-modal="getConsultation">Получить консультацию</a>
		</p>
	</div>

	<nav class="page-header__nav{{ ' page-header__nav_main' if (not activePage) }} container" role="navigation" aria-label="Меню услуг">
		<button type="button" class="page-header__menu-toggler">Услуги</button>
		<div class="page-header__menu menu">
			{% if not activePage %}
				<p class="menu__title">Услуги</p>
			{% endif %}
			<ul class="menu__list">
				{% for item in menuItems %}
					{{ addMenuItem(item.name, item.address) }}
				{% endfor %}
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="flex flex_columns_1 flex_columns_medium_12 promo">
			<div class="flex__item">
				<ul class="menu-info" role="navigation" aria-label="Меню сайта">
					<li class="menu-info__item">
						<a href="#" class="menu-info__link">Формы документов</a>
					</li>
					<li class="menu-info__item {{ ' menu-info__item_active' if (activePage == price) }}">
						<a href="/price/" class="menu-info__link">Стоимость услуг</a>
					</li>
					<li class="menu-info__item {{ ' menu-info__item_active' if (activePage == contacts) }}">
						<a href="/contacts/" class="menu-info__link">Контакты</a>
					</li>
				</ul>

				{% if not activePage %}
					<h2 class="visually-hidden">Наши преимущества</h2>
					<p class="promo__text">Опытные специалисты и&nbsp;юристы</p>
					<p class="promo__text">Решение любых юридических вопросов при сопровождении опытных юристов</p>
				{% endif %}
			</div>

			{% if not activePage %}
				<ul class="flex__item flex__item_7 flex flex_columns_1 flex_columns_small_2 promo__advantages">
					<li class="promo__advantage flex__item">
						<img class="promo__ico" src="/static/img/ico/specialist.svg" alt="" aria-hidden="true">
						Профильные специалисты (юристы/&nbsp;адвокаты)
					</li>
					<li class="promo__advantage flex__item">
						<img class="promo__ico" src="/static/img/ico/exp.svg" alt="" aria-hidden="true">
						Опыт работы специалистов&nbsp; от&nbsp;10&nbsp;лет
					</li>
					<li class="promo__advantage flex__item">
						<img class="promo__ico" src="/static/img/ico/calc.svg" alt="" aria-hidden="true">
						Работа по&nbsp;Договору. Полная «чистота» и&nbsp;«прозрачность» в&nbsp;деятельности
					</li>
					<li class="promo__advantage flex__item">
						<img class="promo__ico" src="/static/img/ico/chess.svg" alt="" aria-hidden="true">
						Более 500 успешных дел&nbsp;в&nbsp;суде, а&nbsp;также зарегистрированных сделок
					</li>
					<li class="promo__advantage flex__item">
						<img class="promo__ico" src="/static/img/ico/pointer.svg" alt="" aria-hidden="true">
						Экстерриториальный принцип регистрации сделок (по&nbsp;всей&nbsp;РФ)
					</li>
					<li class="promo__advantage flex__item">
						<img class="promo__ico" src="/static/img/ico/price.svg" alt="" aria-hidden="true">
						Разумные цены<br>на&nbsp;услуги
					</li>
				</ul>
			{% endif %}
		</div>
	</div>


	{% if activePage %}
		<ul class="breadcrumbs container">
			<li class="breadcrumbs__item">
				<a href="/" class="breadcrumbs__link">Главная</a>
			</li>
			{% for item in breadcrumbsItems %}
				{{ addBreadcrumbsItem(item.name, item.address) }}
			{% endfor %}
		</ul>
	{% endif %}
</header>
