<footer class="page-footer">
	<div class="container">
		<div class="page-footer__logo">
			<a href="/" class="logo">
				<img src="/static/img/logo/logo_outline.svg" alt="ЦЭР Успех" class="logo__img">
			</a>
		</div>

		<p class="page-footer__address">
			196247, Санкт-Петербург, проспект Ленинский, дом 160, лит.А, офис 609<br>
			(прием только по записи)
		</p>

		<ul class="page-footer__contacts">
			<li class="page-footer__contact">
				<a href="tel:+78006007448" class="page-footer__phone">8 800 600 74 48</a>
			</li>
			<li class="page-footer__contact">
				<a href="tel:+79667587577" class="page-footer__phone">8 966 758 75 77</a>
			</li>
			<li class="page-footer__contact">
				<a href="mailto:info@spb-uspeh.ru" class="page-footer__email">info@spb-uspeh.ru</a>
			</li>
		</ul>
	</div>
</footer>
