{% set menuItems = [
    {
        name: "Недвижимость",
        address: 'estate'
    },{
        name: "ДДУ",
        address: 'ddu'
    },{
		name: "Регистрация прав",
        address: '#'
    },{
		name: "Межевание",
        address: '#'
    },{
		name: "Суды/ Споры",
        address: '#'
    },{
		name: "Наследство",
        address: '#'
    },{
		name: "Прочие услуги",
        address: '#'
    }
] %}
{% macro addMenuItem(name, address) %}
    <li class="menu__item{{ ' menu__item_active' if (activePage == address) }}">
        <a href="/{{ address }}/" class="menu__link">{{ name }}</a>
    </li>
{% endmacro %}

{# Breadcrumbs items gets from page (for generating correct addresses) #}
{% macro addBreadcrumbsItem(name, address) %}
    <li class="breadcrumbs__item">
		{% if address %}
			<a href="/{{ address }}/" class="breadcrumbs__link">{{ name }}</a>
		{% else %}
			{{ name }}
		{% endif %}
    </li>
{% endmacro %}

<header class="page-header">
	<div class="page-header__info container">
		<a href="/" class="page-header__logo logo">
			<img src="/static/img/logo.svg" alt="ЦЭР Успех" class="logo__img">
		</a>

		<p class="page-header__title">
			Регистрация прав на недвижимость по всей РФ.<br>
			Решение любых юридических вопросов
		</p>

		<p class="page-header__contacts">
			<a href="tel:+78006007448" class="page-header__phone">8 (800) 600-74-48</a>
			<a href="/get-cosultation/" class="button">Получить консультацию</a>
		</p>
	</div>

	<nav class="page-header__nav{{ ' page-header__nav_titled' if (not activePage) }} container">
		<div class="page-header__menu menu">
			{% if not activePage %}
				<p class="menu__title">Услуги</p>
			{% endif %}
			<ul class="menu__list">
				{% for item in menuItems %}
					{{ addMenuItem(item.name, item.address) }}
				{% endfor %}
			</ul>
		</div>

		<ul class="page-header__button-menu button-menu">
			<li class="button-menu__item">
				<a href="#" class="button-menu__link">Формы документов</a>
			</li>
			<li class="button-menu__item">
				<a href="#" class="button-menu__link">Стоимость услуг</a>
			</li>
		</ul>
	</nav>

	{% if activePage %}
		<ul class="breadcrumbs container">
			<li class="breadcrumbs__item">
				<a href="/" class="breadcrumbs__link">Главная</a>
			</li>
			{% for item in breadcrumbsItems %}
				{{ addBreadcrumbsItem(item.name, item.address) }}
			{% endfor %}
		</ul>
	{% endif %}
</header>
