.feedbacks {
	min-height: 437px;

	@media (min-width: map-get($breakpoints, medium)) {
		.flex__item {
			margin-right: auto;
		}
	}
}

.feedbacks__img {
	display: none;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-image: url(../img/decor/man.png);

	@media (min-width: map-get($breakpoints, medium)) {
		display: block;
	}
}

.feedbacks__item {
	margin: 0;
	&:not(:first-child):not(.tns-item) {
	    position: absolute;

	    width: 1px;
	    height: 1px;
	    margin: -1px;
	    border: 0;
	    padding: 0;

	    clip: rect(0 0 0 0);
	    overflow: hidden;
	}
}

.feedbacks__text {
	position: relative;
	margin-bottom: $bit * 4;
	padding: 20px 36px 28px;

	color: color(dark-gray);
	background-color: color(200-gray);

	&::after {
		content: '';

		position: absolute;
		top: 100%;
		left: 25px;

		display: block;
		width: 0;
		height: 0;
		border-width: 20px;
		border-style: solid;
		border-color: color(200-gray) transparent transparent transparent;
	}

	p {
		margin-bottom: 12px;
	}
}

.feedbacks__date {
	font-size: 11px;
}

.feedbacks__autor {
	margin-left: 6px;
	font-style: normal;
}
