.section__heading {
	margin-bottom: $bit * 5;

	font-weight: 900;
	line-height: 1.2;

	.section_steps & {
		color: color(primary);
	}

	@media (min-width: map-get($breakpoints, small)) {
        font-size: 48px;
	}
	@media (min-width: map-get($breakpoints, medium)) {
        font-size: 64px;
	}
	@media (min-width: map-get($breakpoints, large)) {
		margin-left: -$bit;
		font-size: 72px;
	}
}

.section_content {
	position: relative;
}
.section__img {
	position: absolute;
	top: -160px;
	right: 0;
	bottom: 0;
	left: 50%;
	z-index: -1;

	display: none;

	background-repeat: no-repeat;
	background-position: 40px 100%;

	@media (min-width: map-get($breakpoints, medium)) {
		display: block;
	}
}

.section_offers {
	padding-top: $bit * 6;
	background-color: color(secondary);
}

.section_feedbacks {
	padding-top: $bit * 2;

	.section_offers + & {
		margin-top: $bit * -7;
		background-image: linear-gradient(174.1deg, color(secondary) 230px, color(white) 231px);
	}
}

.section_services {
	padding-top: $bit * 4;
	padding-bottom: $bit * 4;
	background-color: color(primary);
}

.section_registration {
	padding-top: $bit * 4;
	padding-bottom: $bit * 4;
	background-color: color(primary);
}

.section_advantages {
	padding-top: $bit * 4;
	padding-bottom: $bit * 4;
	background-color: #efefef;
}

.section_cases {
	padding-top: $bit * 4;
	padding-bottom: $bit * 4;
}

.section_form {
	padding: 24px 0;

	&:last-child {
	    margin-bottom: 64px;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 24px;
		@media (min-width: map-get($breakpoints, medium)) {
			margin-bottom: 44px;
		}
		color: color(secondary);
	}

	.section_advantages + &,
	.section_services + & {
		margin-top: 64px;
	}
}
