.form__item {
	margin-bottom: 20px;
}

.form__comment {
	font-size: font-size(small);

	a {
		color: color(black);
	}
}

.form__button {
	width: 100%;
	min-height: $field-height;

	color: color(white);
	border-radius: 3px;

	font-size: font-size(large);
	font-weight: 700;

	&:hover {
		color: color(white);
	}
}
