.menu-info {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	padding: 0;

	list-style: none;

	@media (max-width: map-get($breakpoints, medium)) {
		margin-bottom: 40px;
	}
}

.menu-info__item {
	display: flex;
	flex-grow: 1;
	margin: 0 10px 16px;

	@media (min-width: map-get($breakpoints, medium)) {
		flex-basis: calc(50% - 20px);
		flex-grow: 0;
		max-width: 244px;
	}
}

.menu-info__link {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 16px;
	border: 2px solid color(primary);

	color: color(black);

	text-align: center;
	font-weight: 700;

	transition: color 200ms, background-color 200ms;

	&:hover {
		color: color(medium-gray);
		background-color: color(light-gray);
	}
	&:focus {
		outline-color: rgba(color(primary), .6);
		outline-style: solid;
		outline-width: 2px;
		outline-offset: -12px;
	}

	@media (min-width: map-get($breakpoints, medium)) {
		height: 60px;
		line-height: 1;
	}
}
