.menu-info {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.menu-info__item {
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	&:not(:last-child) {
		margin-right: 16px;
	}

	@media (min-width: map-get($breakpoints, medium)) {
		margin: 0 (map-get($flex-gaps, zero) / 2);
	}
	@media (min-width: map-get($breakpoints, large)) {
		margin: 0 (map-get($flex-gaps, large) / 2);
	}
}

.menu-info__link {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 16px 6px;
	border: 2px solid color(primary);

	color: color(black);

	text-align: center;
	font-weight: 700;

	transition: color 200ms, background-color 200ms;

	&:hover {
		color: color(medium-gray);
		background-color: color(light-gray);
	}
	&:focus {
		outline-color: rgba(color(primary), .6);
		outline-style: solid;
		outline-width: 2px;
		outline-offset: -12px;
	}

	@media (min-width: map-get($breakpoints, medium)) {
		height: 60px;
		line-height: 1;
	}
}
