$colors: (
    primary: #bbd40c,
    secondary: #fe6161,
    success: #43a047,
    white: #fff,
    light-gray: #f1f1f1,
    200-gray: #ebebeb,
    medium-gray: #b7b7b7,
    dark-gray: #666,
    900-gray: #202020,
    black: #000,
);

@function color($name) {
    @return map-get($colors, $name);
}
