{% set title = '' %}
{% set activePage = 'ddu' %}
{% set breadcrumbsItems = [
    {
        name: "ДДУ"
    }
] %}
{% extends '../layouts/index.njk' %}

{% block content %}
	<section class="section section_content" data-section-img="/static/img/bg/{{ activePage }}.jpg">
		<div class="container">
			<article class="content">
				<h1>ДДУ</h1>

				<div class="flex flex_columns_1 flex_columns_medium_2">
					<div class="flex__item flex__item_1">
						<p>На текущий момент при покупке недвижимости по ДДУ или спустя время, при наличии на руках уже заключенного Договора, Участники долевого строительства сталкиваются с проблемами с получением своей недвижимости.</p>
						<p>Юристы Компании по ДДУ – это специалисты в сфере 214-ФЗ с многолетней практикой по ведению деятельности Застройщиков. Мы как никто иной знаем о всех возможных требованиях и уловках Застройщиков и готовы решить/предотвратить все проблемы по ДДУ и защитить Ваши интересы!</p>
						<a href="#" class="content__button button button_color_secondary">Заключить сделку</a>
					</div>
				</div>
			</article>
		</div>
	</section>

	<section class="section section_small section_services">
		<div class="container">
			<h2>Популярные услуги</h2>

			<ul class="services flex flex_columns_1 flex_columns_small_2 flex_columns_medium_3 flex_columns_large_4">
				<li class="services__item flex__item flex__item_1">
					<a href="#" class="services__link">Проверка Застройщика/ объекта</a>
				</li>
				<li class="services__item flex__item flex__item_1">
					<a href="#" class="services__link">Проверка ДДУ</a>
				</li>
				<li class="services__item flex__item flex__item_1">
					<a href="#" class="services__link">Взыскание неустойки по&nbsp;ДДУ</a>
				</li>
				<li class="services__item flex__item flex__item_1">
					<a href="#" class="services__link">Споры по ДДУ</a>
				</li>
				<li class="services__item flex__item flex__item_1">
					<a href="#" class="services__link">Банкротство Застройщика</a>
				</li>
				<li class="services__item flex__item flex__item_1">
					<a href="#" class="services__link">Сделка по ДДУ (уступка права требования)</a>
				</li>
				<li class="services__item flex__item flex__item_1">
					<a href="#" class="services__link">Регистрация права собственности</a>
				</li>
				<li class="services__item flex__item flex__item_1">
					<a href="#" class="services__link">Консультация юриста при заключении ДДУ</a>
				</li>
				<li class="services__item flex__item flex__item_1">
					<a href="#" class="services__link">Консультация по приемке квартиры</a>
				</li>
			</ul>
		</div>
	</section>

	<section class="section section_small section_advantages">
		<div class="container">
			<h2>Преимущества:</h2>

			<ul class="advantages flex flex_columns_1 flex_columns_small_2 flex_columns_medium_3">
				<li class="advantages__item flex__item flex__item_1">
					<strong class="advantages__heading">Опыт</strong> работы со всеми видами расчетов (субсидии, социальные выплаты, кредиты, мат.кипиталы, счета – эскроу, аккредитивы и прочее)
				</li>
				<li class="advantages__item flex__item flex__item_1">
					<strong class="advantages__heading">Стаж</strong> работы в сфере недвижимости более 10 лет
				</li>
				<li class="advantages__item flex__item flex__item_1">
					<strong class="advantages__heading">Контроль</strong> регистрации в Росреестре
				</li>
				<li class="advantages__item flex__item flex__item_1">
					<strong class="advantages__heading">Совершение действий</strong> с объектами недвижимости только опытными юристами
				</li>
				<li class="advantages__item flex__item flex__item_1">
					<strong class="advantages__heading">Экстерриториальный</strong> принцип работы на рынке недвижимости (по всей РФ)
				</li>
			</ul>
		</div>
	</section>

	<section class="page-main__section section section_form">
		<div class="container">
			<h2>Остались вопросы?</h2>

			<form action="/form-result/" class="form flex flex_align_center flex_columns_1 flex_columns_small_2 flex_columns_medium_3" data-validate>
				<div class="flex__item">
					<label class="form__item field">
						<input type="tel" name="phone" required class="field__input" placeholder="Телефон" data-validate-pattern="phone" />
						<p class="visually-hidden">Телефон</p>
					</label>
				</div>

				<div class="flex__item">
					<button type="submit" class="form__item form__button button button_color_secondary">Перезвоните мне</button>
				</div>

				<div class="flex__item">
					<p class="form__item form__comment">Нажимая на кнопку, я соглашаюсь на обработку моих <a href="#">персональных данных</a></p>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
